@font-face {
  font-family: TTFontThin;
  src: url("../fonts/HelvNeue45_W1G.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelvNeue45_W1G.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: TTFont;
  src: url("../fonts/HelvNeue55_W1G.woff2") format("woff2"), url("../fonts/HelveticaNeue-Roman.woff") format("woff"), url("../fonts/HelvNeue55_W1G.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: TTFontBold;
  src: url("../fonts/HelvNeue65_W1G.woff2") format("woff2"), url("../fonts/HelveticaNeue-Medium.woff") format("woff"), url("../fonts/HelvNeue65_W1G.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

* {
  display: block;
  visibility: visible; }

script {
  display: none; }

touch-controls {
  display: none !important; }

body {
  width: 100%;
  height: 100%;
  font-size: 10.666666666666667px;
  /* leave this to (720/1080)*16px because this is also set in sympli.io as 'em'-coordinates base */ }

p {
  font-family: TTFont;
  vertical-align: top;
  font-size: 11px;
  margin: 0; }

/* NOTE: all coordinates in sympli.io are in 1920x1080. */
h1 {
  position: absolute;
  color: #f17b24;
  font-family: TTFont;
  top: 45%;
  width: 100%;
  text-align: center;
  display: none; }

.TextContainer {
  vertical-align: text-top; }

track {
  top: 500px;
  width: 100%;
  text-align: center; }

#splash {
  content: url(../images/logo.svg);
  position: absolute;
  top: 294px;
  left: 574px;
  height: 132px;
  width: 132px;
  z-index: 100;
  visibility: hidden; }

#loader {
  border: 7px solid white;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 1.5s loader-03 linear infinite;
  position: absolute;
  top: 338px;
  left: 618px;
  height: 44px;
  width: 44px;
  visibility: hidden;
  opacity: 0.6; }

@keyframes loader-03 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.Splash:not(.Message) .Background #splash {
  visibility: visible; }

.Background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: opacity; }

.Buffering:not(.Error) #loader {
  visibility: visible; }

.Black .Background, .Error:not(.Message) .Background {
  background-color: black; }

.Black #loader, .Error:not(.Message) #loader {
  visibility: visible; }

.Splash .Background, .Blocked .Background, .Locked .Background, .Error .Background {
  background-color: black; }

.Statistics {
  position: absolute;
  top: 0;
  height: 120px;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(0deg, transparent 0%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0.5) 100%); }
  .Statistics p {
    position: absolute;
    top: 20px;
    width: 100%;
    font-size: 13px;
    color: #ededed;
    opacity: 0.7; }

.Overlay {
  position: absolute;
  transition: opacity 0.3s ease;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.65) 100%); }

/* Probably we need to center horizontally *and* vertically. Currently it is limited to one line. */
.DisplayTitle {
  position: absolute;
  top: 325px;
  height: 32px;
  width: 100%;
  text-align: center; }
  .DisplayTitle p {
    font-size: 27px;
    font-family: TTFontBold;
    color: #ededed;
    margin-left: 145px;
    margin-right: 145px; }

.DisplayDescription {
  position: absolute;
  top: 363px;
  height: 31px;
  width: 100%;
  text-align: center; }
  .DisplayDescription p {
    font-family: TTFontBold;
    font-size: 27px;
    color: #ededed;
    opacity: 0.5;
    margin-left: 145px;
    margin-right: 145px; }

.BitRate {
  position: absolute;
  top: 33px;
  height: 17px;
  width: 100%;
  text-align: center; }
  .BitRate p {
    font-size: 13px;
    color: #ededed;
    opacity: 0.5; }

#player {
  --splash-image: url(images/logo.svg); }

video {
  width: 100%;
  height: 100%; }

#container, body.Splash #background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 720px; }

body:not(.Splash) #background {
  transform: none !important;
  top: 0px !important;
  left: 0px !important; }

.PlaybackBanner {
  bottom: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.3s ease; }
  .PlaybackBanner .ChannelLogo {
    position: absolute;
    top: 584px;
    left: 145px;
    width: 84px; }
  .PlaybackBanner .ChannelTitle {
    position: absolute;
    top: 635px;
    left: 145px;
    height: 9px;
    width: 84px;
    text-align: center; }
    .PlaybackBanner .ChannelTitle p {
      color: #fffffe; }
  .PlaybackBanner #eventDateTime {
    position: absolute; }
    .PlaybackBanner #eventDateTime .TopLine {
      display: none;
      /*            position: absolute;
            top: convert(840px);
            left: convert(392px);
            height: convert(36px);
            width: convert(600px);
            text-align: left;

            p {
                font-family: TTFontBold;                
                font-size: convert(28px);
                color: rgba(215, 215, 215, 0.87);
                opacity: 0.6;
            }*/ }
    .PlaybackBanner #eventDateTime .Title {
      position: absolute;
      top: 579px;
      left: 262px;
      height: 40px;
      width: 753px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left; }
      .PlaybackBanner #eventDateTime .Title p {
        font-family: TTFont;
        font-size: 27px;
        color: #ededed; }
    .PlaybackBanner #eventDateTime .BottomLine p {
      font-size: 19px;
      font-family: TTFontBold;
      color: rgba(215, 215, 215, 0.87);
      opacity: 0.6; }
    .PlaybackBanner #eventDateTime .BottomLine #bottomLeft {
      position: absolute;
      top: 628px;
      left: 262px;
      height: 24px;
      width: 51px;
      text-align: left; }
    .PlaybackBanner #eventDateTime .BottomLine #bottomRight {
      position: absolute;
      top: 628px;
      left: 967px;
      height: 24px;
      width: 51px;
      text-align: right; }
  .PlaybackBanner #progressBar {
    position: absolute;
    top: 623px;
    left: 263px;
    height: 4px;
    width: 753px; }
    .PlaybackBanner #progressBar #progressBackground {
      position: absolute;
      width: inherit;
      height: inherit;
      background-color: rgba(215, 215, 215, 0.87);
      opacity: 0.6; }
    .PlaybackBanner #progressBar #progressForeground {
      position: absolute;
      height: 4px;
      background-color: #ededed; }
    .PlaybackBanner #progressBar #progressBuffer {
      position: absolute;
      height: 4px;
      background-color: #ff7900; }
    .PlaybackBanner #progressBar #progressMarker {
      position: absolute;
      top: -9px;
      height: 21px;
      width: 3px;
      box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.5);
      background-image: linear-gradient(-180deg, rgba(238, 238, 238, 0) 0%, #ededed 37%, #ededed 61%, rgba(216, 216, 216, 0) 100%); }
  .PlaybackBanner #trickplay {
    position: absolute;
    top: 623px;
    left: 1070px;
    height: 24px;
    width: 24px; }
  .PlaybackBanner #trickplay.Pause {
    content: url(../images/icon_pauze.png); }
  .PlaybackBanner #trickplay.Play {
    content: url(../images/icon_play.png); }

.deactivated {
  display: none !important; }

.hidden {
  opacity: 0 !important; }

/*# sourceMappingURL=style.css.map */